<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OASIS - Belleza y Salud</title>
  <link rel="stylesheet" href="../css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;600&display=swap" rel="stylesheet">
  <script type="module" src="../js/home.js"></script>

</head>
<body>
  <header>
    <div class="logo">
        <a href="../index.html">
          <img src="../storage/photos/logo.png" alt="OASIS" style="height: 120px;">
        </a>
      </div>
          <nav>
      <button class="button">Inicio</button>
    </nav>
  </header>

  <section class="main-section">
    <div class="main-text">
      <h1 class="title">Bienvenido a OASIS</h1>
      <p>La salud es belleza. Descubre nuestros productos especialmente seleccionados para ti.</p>
    </div>
    <div class="main-image">
      <img src="../storage/photos/completokit-Photoroom.png" alt="OASIS Portada">
    </div>
  </section>

  <section id="productos"  class="products">
    <div class="product-card" onclick="showModal('Producto 1', '../storage/photos/aceite-Photoroom.png', 'Nutre intensamente, ayuda a regenerar la piel, aporta firmeza y reduce líneas finas.')">
      <img src="../storage/photos/aceite-Photoroom.png" alt="Producto 1" />
      <p>Esencia de Grano Dorado
    </p>
    </div>
  
    <div class="product-card" onclick="showModal('Producto 2', '../storage/photos/aceite2-Photoroom.png', 'Hidratación profunda, mejora la luminosidad de la piel y ayuda a emparejar el tono.')">
      <img src="../storage/photos/aceite2-Photoroom.png" alt="Producto 2" />
      <p>Luz de Arroz</p>
    </div>
  
    <div class="product-card" onclick="showModal('Producto 3', '../storage/photos/crema1-Photoroom.png', 'Exfoliación suave con partículas de arroz. Elimina células muertas y suaviza la textura de la piel.')">
      <img src="../storage/photos/crema1-Photoroom.png" alt="Producto 3" />
      <p>Pulido de Luna</p>
    </div>
  
    <div class="product-card" onclick="showModal('Producto 4', '../storage/photos/crema2-Photoroom.png', 'Reduce ojeras, bolsas y signos de fatiga. Hidrata la zona delicada del contorno de ojos.')">
      <img src="../storage/photos/crema2-Photoroom.png" alt="Producto 4" />
      <p>Mirada de Seda</p>
    </div>
  
    <div class="product-card" onclick="showModal('Producto 5', '../storage/photos/jabon-Photoroom.png', 'Limpieza suave pero efectiva. Elimina impurezas sin resecar, dejando la piel fresca y suave.')">
      <img src="../storage/photos/jabon-Photoroom.png" alt="Producto 5" />
      <p>Nube de Arroz</p>
    </div>
    <div class="product-card" onclick="showModal('Producto 5', '../storage/photos/labial2-Photoroom.png', 'Deja los labios más suaves y lisos, gracias al almidón de arroz que mejora la textura.')">
        <img src="../storage/photos/labial2-Photoroom.png" alt="Producto 5" />
        <p>SilkRice</p>
      </div>
  </section>
  
  <!-- Modal -->
  <div id="productModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2 id="modalTitle"></h2>
      <img id="modalImage" src="" alt="Imagen del producto" />
      <p id="modalDesc"></p>
    </div>
  </div>

  <script>
    function showModal(title, imageUrl, description) {
      console.log("Abriendo modal con:", title, imageUrl, description);
      document.getElementById('modalTitle').textContent = title;
      document.getElementById('modalImage').src = imageUrl;
      document.getElementById('modalDesc').textContent = description;
      document.getElementById('productModal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('productModal').style.display = 'none';
    }
  </script>
  
  

  <!-- Secciones grandes de productos -->
  <!-- <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <div class="info-text">
      <h2>Esencia de Grano Dorado</h2>
      <p>Nutre intensamente, ayuda a regenerar la piel, aporta firmeza y reduce líneas finas.
    </p>
    </div>
    <div class="info-img">
      <img src="../storage/photos/aceite-Photoroom.png" alt="Producto 1" style="width: 450px;">
    </div>
  </section> 
  
   <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <div class="info-text">
      <h2>Luz de Arroz
    </h2>
      <p>Hidratación profunda, mejora la luminosidad de la piel y ayuda a emparejar el tono.
    </p>
    </div>
    <div class="info-img"><img src="../storage/photos/aceite2-Photoroom.png" alt="Producto 2" style="width: 450px;"></div>
  </section> 
  <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <div class="info-text">
      <h2>Producto 3</h2>
      <p>Descripción detallada del producto 3...</p>
    </div>
    <div class="info-img"><img src="../storage/photos/crema1-Photoroom.png" alt="Producto 3"  style="width: 450px;"></div>
  </section>
  <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <div class="info-text">
      <h2>Producto 4</h2>
      <p>Descripción detallada del producto 4...</p>
    </div>
    <div class="info-img"><img src="../storage/photos/crema2-Photoroom.png" alt="Producto 4"  style="width: 450px;"></div>
  </section>
  <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <div class="info-text">
      <h2>Producto 5</h2>
      <p>Descripción detallada del producto 5...</p>
    </div>
    <div class="info-img"><img src="../storage/photos/jabon-Photoroom.png" alt="Producto 5 " style="width: 450px;"></div>
  </section> -->
  <section class="section-info" data-bg="../storage/photos/fondogrande2.jpg">
    <h1 class="section-title">Producto innovador</h1>
  
    <div class="info-content">
      <div class="info-text">
        <h2>SilkRice</h2>
        <p>Deja los labios más suaves y lisos, gracias al almidón de arroz que mejora la textura.</p>
      </div>
  
      <div class="info-img">
        <img src="../storage/photos/labial2-Photoroom.png" alt="Producto 5" style="width: 450px;">
      </div>
    </div>
  </section>
  
  

  <!-- Sección misión y visión -->
  <section id="mision" class="section-info2">
    <div class="info-img"><img src="../storage/photos/cross-posting-illustration_335657-4670-Photoroom.png" alt="Misión" style="width: 550px;"></div>
    <div class="info-text">
      <h2>Misión</h2>
      <p>En Oasis, nuestra misión es crear productos
        de cuidado personal naturales y efectivos
        que ayuden a las personas a alcanzar una
        piel saludable y radiante. Nos
        comprometemos a utilizar ingredientes de
        alta calidad, respetar el medio ambiente y
        brindar un servicio excepcional a nuestros
        clientes.</p>
    </div>
  </section>
  <section id="vision" class="section-info2">
    <div class="info-text">
      <h2>Visión</h2>
      <p>Queremos ser reconocidos como uno de los mejores
        laboratorios, responsables e innovadores de la región,
        que desarrollan productos de cuidado facial que no solo
        mejoran la apariencia, sino que también promueven la
        salud y el bienestar de la piel y del medio ambiente.</p>
    </div>
    <div class="info-img"><img src="../storage/photos/hand-drawn-step-illustration_52683-106774-Photoroom.png" alt="Visión" style="width: 550px;"></div>
  </section>

  <!-- Modal -->
  <div class="modal" id="productModal">
    <div class="modal-content" id="modalContent"></div>
  </div>

  <!-- Contacto -->
  <section id="contacto"  class="contact-section">
    <div class="contact-form">
      <h2>Contáctanos</h2>
      <form id="whatsappForm">
        <input type="text" id="nombre" placeholder="Tu nombre" required>
        <textarea id="mensaje" placeholder="Escribe tu mensaje..." required></textarea>
        <button type="submit" class="button">Enviar a WhatsApp</button>
      </form>
      <script>
        document.getElementById("whatsappForm").addEventListener("submit", function (e) {
          e.preventDefault(); // Evita que se recargue
      
          const nombre = document.getElementById("nombre").value.trim();
          const mensaje = document.getElementById("mensaje").value.trim();
      
          const texto = `Hola, soy ${nombre}. ${mensaje}`;
          const numero = "573214777920"; // sin el "+" y sin paréntesis
          const url = `https://wa.me/${numero}?text=${encodeURIComponent(texto)}`;
      
          window.open(url, "_blank");
        });
      </script>
            
    </div>
    <div class="contact-image">
      <img src="../storage/photos/contactanos.png" alt="Contáctanos">
    </div>
  </section>

  <footer>
    <p>
      © OASIS 2025 • 
      <a href="#mision">Misión</a> • 
      <a href="#vision">Visión</a> • 
      <a href="#productos">Productos</a> • 
      <a href="#contacto">Contacto</a>
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc37CBxpUq1pd1maVd7-NzjMA0aryqEdzTsyR5Dgh3NYetPCw/viewform?usp=header" target="_blank" class="encuesta-btn">Haz clic para ver la encuesta</a>
  </footer>
  

  <div id="backToTop" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">↑</div>

</body>
</html>